In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [5]:
data =  pd.read_csv(r"C:/Users/Aboubakr Ben Bach/Desktop/ML/python/Classification/drug200.csv")
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [6]:
df= data.copy()

In [7]:
X = df[["Age","Sex","BP","Cholesterol","Na_to_K"]].values
X[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.113999999999999],
       [28, 'F', 'NORMAL', 'HIGH', 7.797999999999999],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

In [8]:
y = df['Drug']

##### Convert the categorical to numerical value

In [15]:
#transform sex
df_sex = preprocessing.LabelEncoder()
df_sex.fit(['F', 'M'])
df['Sex'] =df_sex.transform(df['Sex'])

#transform BP
df_bp = preprocessing.LabelEncoder()
df_bp.fit(['HIGH', 'LOW', 'NORMAL'])
df['BP'] =df_bp.transform(df['BP'])

#transform Cholesterol
df_chol = preprocessing.LabelEncoder()
df_chol.fit(['HIGH', 'NORMAL'])
df['Cholesterol'] =df_chol.transform(df['Cholesterol'])