In [3]:
import numpy as np

In [4]:
A = np.array([1,2,3])
A
A.shape

(3,)

In [5]:
#initialise le tableau avec les zeros
B = np.zeros((3,2))
type(B.shape)

tuple

In [6]:
#initialise le tableau avec les uns
B = np.ones((3,2))
B

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [7]:
#initialise le tableau avec les nombres aleatoire
#si on veut avoir toujour le meme nombre aleatoire
np.random.seed(0)
np.random.randn(3,4)

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351]])

In [8]:
#matrice identitaire
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [9]:
#pour avoir les pas entre un nombre
np.arange(0,15,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [10]:
#pour avoir deux tableaux ensemble
A= np.zeros((3,4))
A

B= np.ones((3,4))
B

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [11]:
#tableau horizontal
C =np.hstack((A,B))
C.shape

#tableau vertical
D =np.vstack((A,B))
D

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [12]:
#pour avoir deux tableaux ensemble
np.concatenate((A,B), axis=1)

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [13]:
#modifier le tableau
D =D.reshape(12,2)
D

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [14]:
E= np.zeros((4,4))
E

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [15]:
#on modifie les valeurs a l'interieur du tableau
E[1:3, 1:3]=1
E

array([[0., 0., 0., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 0., 0., 0.]])